# coding: utf-8
%h1 Шаблоны оценки эффективности 

.content
  %table.data
    %tr
      %th Название
      %th
    - for t in @templates
      %tr
        %td= link_to t.name, :controller => 'factors', :action => 'show_factors_by_template', :template_id => t 
        %td= link_to "Изменить", :action => :edit, :id => t.id
%br	
.actions
  = link_to 'Добавить', :action => 'new'